<div class="py-3 container rounded my-4">
   <div class="title-warper">
      <h4>subscription from</h4>
      <p>subscribe to to read exclusive content</p>
   </div>

   <form>
      <div class="d-flex flex-wrap w-100 align-items-center justify-content-center">
         <div class="d-flex flex-wrap justify-content-center">
            <input type="text" name="" class="form-control" placeholder="Your Name">
            <input type="email" name="" class="form-control" placeholder="Your Email">
         </div>
         <button class="btn btn-dark">submit</button>
      </div>

   </form>
</div>