<div class="shadow-sm bg-light rounded container justify-content-center border-3 border-black p-5">
   <h2 class="text-info">Leave a Comment</h2>
   <p class="text-capitalize">you can leave a comment using this comment form</p>

   <form class="w-75">
      <input type="text" name="" id="name" placeholder="Name" class="form-control my-3">

      <textarea name="" id="comment" class="form-control res" placeholder="Write your Comment here" style="height: 150px; resize: none;"></textarea>
      <button class=" btn btn-lg btn-info text-white mt-4">Add Comment</button>
   </form>
</div>
