<nav class="" style ="background-color: var(--navbar-footer-color);">
         <ul class="list-unstyled container d-flex justify-content-center py-2">
            <li class="d-inline-block mx-4"><a class="text-decoration-none text-dark text-capitalize fs-4">design</a></li>
            <li class="d-inline-block mx-4"><a class="text-decoration-none text-dark text-capitalize fs-4">inspiretion</a></li>
            <li class="d-inline-block mx-4"><a class="text-decoration-none text-dark text-capitalize fs-4">sports</a></li>
            <li class="d-inline-block mx-4"><a class="text-decoration-none text-dark text-capitalize fs-4">fasion</a></li>
            <li class="d-inline-block mx-4"><a class="text-decoration-none text-dark text-capitalize fs-4">study</a></li>
            <li class="d-inline-block mx-4"><a class="text-decoration-none text-dark text-capitalize fs-4">politics</a></li>
         </ul>
</nav>