<footer>
   <div class="container d-flex flex-column align-items-center">
      <div class="img-warper">
         <img src="images.png" alt="">
      </div>
      <div class="links d-flex justify-content-center my-2">
         <a href="" class="mx-2 text-decoration-none text-capitalize fs-5 ">home</a>
         <a href="" class="mx-2 text-decoration-none text-capitalize fs-5 ">about</a>
         <a href="" class="mx-2 text-decoration-none text-capitalize fs-5 ">trems & condition</a>
         <a href="" class="mx-2 text-decoration-none text-capitalize fs-5 ">contact</a>
      </div>
      <p class="text-capitalize fs-6 mb-2">copyright &copy; 2024</p>
   </div>
</footer>
