<section class="about">
   <div class="container bg-info bg-opacity-50 p-3 rounded">
      <h1 class="fs-1 text-dark text-center">About Us</h1>
      <div class="about-text bg-light px-5 py-3 rounded-4">
         <p>
            minima. Necessitatibus consectetur eligendi quos ullam ab sequi quisquam a, sit nam reiciendis ratione,
            obcaecati quia mollitia accusamus accusantium odio quam eum facilis voluptatem unde. Minus officia corporis
            at amet ad qui vitae quidem debitis non quaerat. Consequatur, quia. Quos, praesentium ex? Animi atque, odit
            et nisi perspiciatis iusto rem doloremque molestias maxime a corrupti sed non earum quod minima vel dolores
            ut consequatur dolorum velit eos tempora nihil aperiam. Aliquid quasi nobis accusamus deserunt quas
         </p>
         <p>
            distinctio! Cumque ducimus fugiat accusamus aliquid blanditiis ad praesentium aperiam, at voluptatum
            incidunt, nemo, rerum vel ipsa fugit velit in adipisci impedit? Perspiciatis quaerat architecto officiis
            adipisci similique quisquam dolorem labore minima, facere perferendis, molestiae ut, illo accusantium
            obcaecati earum totam assumenda provident. Quod, autem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate error ex saepe, dolorem corrupti dolor
            a eligendi laborum cum placeat doloremque odit quidem, velit repellendus quasi corporis eum, eaque nihil?
         </p>
         <div class="text-center">
            <button class="btn btn-info btn-lg text-light">Back To home</button>
         </div>

      </div>

   </div>
</section>